@using Listen_Music.Application.Services.Songs.Queries.GetSongDetailForSite
@model SongDetailForSiteDTO;
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listen Music</title>
    <link rel="stylesheet" href="~/SiteTemplate/asset/css/MusicDetail.css">
    <link rel="stylesheet" href="~/SiteTemplate/asset/font/css/font-awesome.min.css">
</head>
<body>
    <!-- header -->
    <header class="header-container">
        <nav id="menu-container">
            <ul class="menu-bar">
                <li class="items-menu"><a class="menu-link" href="~/Home/Index" title="صفحه اصلی"><i class="fa fa-home"></i> صفحه نخست</a></li>
                <li class="items-menu"><a class="menu-link" href="~/Contact/Index" title="تماس با ما"><i class="fa fa-envelope"></i> تماس با ما</a></li>
                <li class="items-menu"><a class="menu-link" href="~/About/Index" title="درباره ما"><i class="fa fa-info-circle"></i> درباره ما</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="items-menu">
                        <a id="username-button" href="#">@User.Identity.Name <i class="fa fa-caret-down"></i></a><br>
                        <div id="exit-prof-container">
                            <a id="exit-btn" class="exit-prof-btn" href="~/Authentication/SignOut">خروج از حساب</a>
                            <a id="profile-btn" class="exit-prof-btn" href="~/Follow/Index"> پروفایل من </a>
                        </div>
                    </li>
                }
                else
                {
                    <li class="items-menu">
                        <a class="menu-link" href="~/Authentication/SignIn" title="ورود">
                            ورود
                        </a>
                    </li>
                    <li class="items-menu">
                        <a class="menu-link" href="~/Authentication/SignUp" title="ثبت نام">
                            ثبت نام
                        </a>
                    </li>
                }
            </ul>
            <form id="search-container" asp-action="Index" asp-controller="Home" method="get">
                <input type="text" name="SearchKey" id="serach-input" placeholder="جستجو : آهنگ ، خواننده" />
                <button class="search-click" type="submit"><i class="fa fa-search search-icon"></i></button>
            </form>
            <div id="Cat-img">
                <h2 class="logo"><a href="~/Home/Index" title="Listen music"><i class="fa fa-headphones"></i> Listen Music</a></h2>
            </div>
        </nav>
        <div class="category-container">
            <div class="item-prod" id="singer-btn">
                <pre class="cat-btn">خواننده  <i class="fa fa-caret-down"></i></pre>
            </div>
            <div class="item-prod" id="genre-btn">
                <pre class="cat-btn">سبک  <i class="fa fa-caret-down"></i></pre>
            </div>
            <div class="item-prod" id="playlist-btn">
                <pre class="cat-btn">لیست پخش  <i class="fa fa-caret-down"></i></pre>
            </div>
        </div>

        <div id="singer-container">
            @*View Componenet*@
            @await Component.InvokeAsync("GetSingerMenuOtherPages")
        </div>
        <div id="genre-cotainer">

            @*View Component*@
            @await Component.InvokeAsync("GetGenreMenuOtherPages")

        </div>

        <div id="playlist-container">
            @*View component*@
            @await Component.InvokeAsync("GetPlayListOtherPages")
        </div>

    </header>
    <!-- end header -->
    <!-- main -->
    <main id="main">

        <aside id="side-bar-container">
            <div class="related-subject">
                <h4>مرتبط با این موضوع</h4>

                @*View Component*@
                @await Component.InvokeAsync("GetRelatingSongs", Model.PlayListId)

            </div>
        </aside>
        <section id="music-detail-container">
            <div class="detail-box">
                <div class="singer-music">
                    <div id="head-music"><h3>@Model.SingerName - @Model.Title</h3></div>
                    <div id="cat-view">
                        <p id="cat-name">دسته : <a href="~/PlayList/Index/@Model.PlayListId">@Model.PlayList</a></p>
                        <p id="view-count">پخش : @Model.ViewCount</p>
                    </div>
                </div>
                <div class="img-music">
                    <img src="~/@Model.Image" alt="">
                </div>
                <div class="play-music">
                    <audio controls preload="none">
                        <source src="~/@Model.Song" />
                    </audio>
                </div>
            </div>

        </section>

        <section id="comment-container">
            <div class="comment-container-box">
                <form id="form-send-commnet" asp-action="AddNewComment" asp-controller="Song">
                    <div id="user-info-send">
                        <input type="text" id="txt-username" placeholder="نام">
                        <input type="email" id="txt-eamil" placeholder="ایمیل">
                    </div>
                    <div class="comment-insert">
                        <input id="txt-comment" placeholder="نظر خود را وارد کنید">
                        <input id="send-comment" value="ارسال نظر" type="button" onclick="SendComment()">
                    </div>
                </form>
                <div class="user-comments-container" id="userCommentContainer"> 

                    @*ViewComponent*@
                    @await Component.InvokeAsync("GetComments", Model.Id)

                </div>
            </div>
        </section>



    </main>
    <!-- end main -->
    <!-- footer -->
    <footer id="footer">
        <nav id="footer-container">

            <div class="grid-item item1" id="site-info-container">
                <h3>اطلاعات</h3>
                <a href="~/Contact/Index" title="contact us">تماس با ما</a>
                <a href="~/About/Index" title="about us">درباره ما</a>
            </div>

            <div class="grid-item item2" id="social-media-container">
                <h3>ما را دنبال کنید</h3><br>
                <a class="iconlink" href="#" title="telegram"><i class="fa fa-telegram icon-social"></i></a>
                <a class="iconlink" href="#" title="instagram"><i class="fa fa-instagram icon-social"></i></a>
                <a class="iconlink" href="#" title="twitter"><i class="fa fa-twitter icon-social"></i></a>
            </div>

            <div class="grid-item item3" id="email-container">
                <h4>ایمیل : <a href="#" title="e-mail">www.mehdigharetape97@gmail.com</a></h4>
            </div>

            <div class="grid-item item4" id="img-headphone">
                <img src="~/SiteTemplate/asset/css/image/head_1-removebg-preview.png" alt="">
            </div>

        </nav>
    </footer>
    <!-- end footer --------------------------------->

    <script src="~/SiteTemplate/asset/js/MusicDetailScripts.js"></script>
    <script src="~/AdminTemplate/js/jquery-3.3.1.min.js"></script>
    <script src="~/AdminTemplate/js/bootstrap.js"></script>
    <script src="~/AdminTemplate/js/bootstrap.min.js"></script>

    <link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/Sweetalert2/sweetalert2.min.js"></script>

    <script>
        function SendComment() {
            $.ajax({
                url: "/Song/AddNewComment/" +@Model.Id,
                type: "GET",
                data: {
                    UserName: $('#txt-username').val(),
                    Email: $('#txt-eamil').val(),
                    CommentText: $('#txt-comment').val(),
                },
                success: function () {
                    alert("کامنت ارسال شد");
                    $('#txt-username').val("");
                    $('#txt-eamil').val("");
                    $('#txt-comment').val("");
                },
                error: function () {
                    alert("کامنت ارسال شد");
                    $('#txt-username').val("");
                    $('#txt-eamil').val("");
                    $('#txt-comment').val("");
                }
            });
        }

    </script>

</body>

</html>
